<div class="page-container">
  <div class="button-panel">
    <button mat-button [disabled]="!isValidForm" (click)="onSubmit()">
      Submit
    </button>
  </div>
</div>

<div class="page-container">
  <div *ngIf="config" class="screen-container">
    <div *ngFor="let column of config.columns" class="column-container">
      <form
        *ngFor="let form of column.forms"
        class="form-container"
        [formGroup]="forms[form.name]"
      >
        <div *ngFor="let field of form.fields">
          <!-- Form Labels -->
          <div
            *ngIf="
              field.type === formFieldType.MainLabel ||
              field.type === formFieldType.LabelSub ||
              field.type === formFieldType.UnderlinedLabel ||
              field.type === formFieldType.PlainLabel
            "
            class="form-line"
          >
            <div
              class="{{
                field.type === formFieldType.MainLabel
                  ? 'title'
                  : field.type === formFieldType.LabelSub
                  ? 'sub-title'
                  : field.type === formFieldType.UnderlinedLabel
                  ? 'underlined-title'
                  : ''
              }}"
            >
              {{ field.label }}
            </div>
          </div>

          <!-- Inputs -->
          <!-- Title -->
          <input
            *ngIf="field.type === formFieldType.InputTitle"
            formControlName="{{ field.name }}"
            class="title"
            id="{{ field.name }}"
            type="text"
            (focus)="onFieldFocus(forms[form.name], field.name)"
            (blur)="onFieldBlur(forms[form.name], field.name)"
          />

          <!-- Multi column -->
          <div
            *ngIf="
              field.type === formFieldType.InputMultiColumn &&
              field.multiColumnFieldSetting
            "
            class="form-line"
          >
            <div class="multi-column-field-label">{{ field.label }}</div>
            <div
              class="multi-column-field-column"
              *ngFor="let column of field.multiColumnFieldSetting"
            >
              <p>{{ column.label }}</p>
              <input
                formControlName="{{ column.name.toLowerCase() }}"
                id="{{ column.name.toLowerCase() }}"
                type="text"
              />
            </div>
          </div>

          <!-- Text area -->
          <textarea
            *ngIf="field.type === formFieldType.InputLong"
            formControlName="{{ field.name }}"
            class="desc-area"
            id="{{ field.name }}"
            type="text"
            (focus)="onFieldFocus(forms[form.name], field.name)"
            (blur)="onFieldBlur(forms[form.name], field.name)"
          ></textarea>

          <!-- File Uploaders -->
          <div
            *ngIf="
              field.type === formFieldType.UploaderMultiFilePlain ||
              field.type === formFieldType.UploaderMultiFileUnderlined ||
              field.type === formFieldType.UploaderSingleFilePlain ||
              field.type === formFieldType.UploaderSingleFileUnderlined
            "
            class="form-line"
          >
            <div
              class="{{
                field.type === formFieldType.UploaderMultiFileUnderlined ||
                field.type === formFieldType.UploaderSingleFileUnderlined
                  ? 'underlined-title uploader-label'
                  : 'indented-text uploader-label'
              }}"
            >
              {{ field.label }}
            </div>
            <div class="uploader-file-name">
              {{ forms[form.name].value[field.name] }}
            </div>
            <input
              class="fake-file-selector"
              #designFileInput
              type="file"
              (change)="onFileSelection(forms[form.name], field.name, $event)"
            />
            <button
              class="file-selector-button"
              #upload
              (click)="designFileInput.click()"
            >
              Upload file
            </button>
          </div>

          <!-- Image Uploaders -->
          <div *ngIf="field.type === formFieldType.ImageUploader">
            <div class="form-line">
              <div class="uploader-label">
                {{ field.label }}
              </div>
              <input
                class="fake-file-selector"
                #designFileInput
                type="file"
                multiple
                (change)="
                  onImagesSelection(forms[form.name], field.name, $event)
                "
              />
              <button
                class="file-selector-button"
                #upload
                (click)="designFileInput.click()"
              >
                Upload images
              </button>
            </div>
            <div class="image-container">
              <img *ngFor="let url of imageUrls[field.name]" [src]="url" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
