<app-delivery-address-form
  *ngIf="!userAddresses || addNewAddress"
  (addressSubmitted)="onNewAddressSubmitted($event)"
></app-delivery-address-form>
<div class="main-container" *ngIf="userAddresses && !addNewAddress">
  <div class="title">Select delivery address</div>
  <div class="sub-title">
    Please select the required delivery address for this order (or alternative
    add new address as required)
  </div>

  <button class="add-button" type="button" (click)="onAddNewAddressClick()">
    Add new address
  </button>

  <form
    *ngIf="userAddresses"
    class="form-container"
    [formGroup]="selectedAddressForm"
  >
    <mat-radio-group
      class="radio-group-container"
      formControlName="selectedAddress"
    >
      <mat-radio-button
        *ngFor="let address of userAddresses; let i = index"
        class="address-option"
        value="{{ i }}"
      >
        <div>
          {{ address.number }} {{ address.streetAddress1 }} ({{
            address.addressType
          }})
        </div>
        <div>{{ address.streetAddress2 }}</div>
        <div>{{ address.city }}</div>
      </mat-radio-button>
    </mat-radio-group>
  </form>
  <button
    class="{{
      selectedAddressForm.valid
        ? 'confirmation-button'
        : 'confirmation-button confirmation-button-disabled '
    }}"
    [disabled]="!selectedAddressForm.valid"
    (click)="onSubmit()"
  >
    Proceed to order confirmation
  </button>
</div>
