<div class="page-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add new product</mat-card-title>
        </mat-card-header>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="form-line">
                <label for="title">Title: </label>
                <input id="title" type="text" formControlName="title" required>
            </div>
            <div class="form-line">
                <label for="decription">Description: </label>
            </div>
            <textarea class="text-area" id="decription" type="text" formControlName="decription"></textarea>
            <div class="form-line">
                <label for="print-files">Print files: </label>
                <input type="file" multiple class="file-upload" (change)="onPrintFileSelection($event)">
            </div>
            <div class="form-line">
                <label for="print-files">Image files: </label>
                <input type="file" multiple class="file-upload" (change)="onImageFileSelection($event)">
            </div>

            <button mat-button type="submit" [disabled]="!productForm.valid">Submit</button>
        </form>
    </mat-card>
</div>