<div *ngIf="config" class="page-container">
  <div class="button-panel">
    <button mat-button [disabled]="!isValidForm" (click)="onSubmit()">
      Submit
    </button>
  </div>

  <div class="screen-container">
    <div *ngFor="let column of config.columns" class="column-container">
      <form
        *ngFor="let form of column.forms"
        class="form-container"
        [formGroup]="forms[form.name]"
      >
        <div *ngFor="let field of form.fields" [ngSwitch]="field.type">
          <!-- Form labels  -->
          <app-form-label
            *ngSwitchCase="
              formFieldType.MainLabel ||
              formFieldType.LabelSub ||
              formFieldType.UnderlinedLabel ||
              formFieldType.PlainLabel
            "
            class="form-line"
            [field]="field"
          ></app-form-label>

          <!-- Title input -->
          <app-title-input
            *ngSwitchCase="formFieldType.InputTitle"
            [field]="field"
            (updateFieldValue)="
              updateFieldValue($event, forms[form.name], field.name)
            "
          ></app-title-input>

          <!-- Multi column -->
          <app-multi-column-field
            *ngSwitchCase="formFieldType.InputMultiColumn"
            class="form-line"
            [field]="field"
            (updateFieldValues)="
              updateMultiColumnFieldValues($event, forms[form.name])
            "
          ></app-multi-column-field>

          <!-- Text area -->
          <app-text-area
            *ngSwitchCase="
              formFieldType.InputTextShort || formFieldType.InputTextLong
            "
            [field]="field"
            (updateFieldValue)="
              updateFieldValue($event, forms[form.name], field.name)
            "
          ></app-text-area>

          <!-- Main Image -->
          <div
            class="main-image-container"
            *ngSwitchCase="formFieldType.MainImage"
          >
            <img src="{{ forms[form.name].controls[field.name].value.url }}" />
          </div>

          <!-- File Uploader -->
          <app-file-uploader
            *ngSwitchCase="
              formFieldType.UploaderMultiFilePlain ||
              formFieldType.UploaderMultiFileUnderlined ||
              formFieldType.UploaderSingleFilePlain ||
              formFieldType.UploaderSingleFileUnderlined
            "
            [field]="field"
            (fileSelected)="
              onFileSelection(forms[form.name], field.name, $event)
            "
          ></app-file-uploader>

          <!-- File Uploaders with Parameters -->
          <app-file-uploader-with-parameters
            *ngSwitchCase="formFieldType.UploaderSingleFileWithParams"
            [field]="field"
            (fileSelectedWithParameters)="
              onFileWithParametersSelection(
                forms[form.name],
                field.name,
                $event
              )
            "
          ></app-file-uploader-with-parameters>

          <!-- Image Uploaders -->
          <app-image-uploader
            *ngSwitchCase="formFieldType.ImageUploader"
            [field]="field"
            (primaryImageSelected)="setPrimaryImage($event)"
          ></app-image-uploader>
        </div>
      </form>
    </div>
  </div>
</div>
