<div class="page-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add new print</mat-card-title>
        </mat-card-header>
        <form [formGroup]="addPrintForm" (ngSubmit)="onSubmit()">
            <div class="form-line">
                <label for="title">Title: </label>
                <input id="title" type="text" formControlName="title">
            </div>
            <div class="form-line">
                <label for="description">Description (min 16 char) </label>
            </div>
            <div class="text-area">
                <textarea id="description" rows="4" formControlName="description"></textarea>
            </div>
            <input type="file" class="file-upload" (change)="onFileSelection($event)">

            <button mat-button type="submit" [disabled]="!addPrintForm.valid">Submit</button>
        </form>
    </mat-card>
</div>